ELASTIC_VERSION=8.17.0
ES_JAVA_OPTS=-Xms1g -Xmx1g
ES_CLUSTER_NAME=amazon-search

POSTGRES_DB=amazon_search
POSTGRES_USER=search
POSTGRES_PASSWORD=search_demo

MEILI_MASTER_KEY=masterKey

GEMINI_API_KEY=your-gemini-api-key-here
